<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>hoa</display-name>

    <!-- Struts2 -->
    <filter>
        <filter-name>hoa</filter-name>
        <filter-class>com.terwergreen.hoa.filter.HoaStartupFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>hoa</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>
